* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  cursor: pointer;
}

/* Navbar */
.navbar-section {
  margin: 1.5rem;
}

.login-section {
  display: flex;
  justify-content: flex-end;
}

.login-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100px;
  padding: 0.5rem;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease;
}

.logo-section {
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.logo-img {
  cursor: pointer;
}

.menu-section {
  justify-content: center;
  display: flex;
  position: relative;
}

.menu-list {
  display: flex;
  padding: 0.5rem 0;
}

.menu {
  font-weight: normal;
  min-width: 100px;
  text-align: center;
  transition: all 0.2s ease;
}

.menu:hover,
.login-btn:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.search-box {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 2px solid darkgrey;
  padding: 0.5rem 0;
}

.search-input {
  border: none;
  outline: none;
  font-size: 1rem;
}

/* product card */
.product-card {
  transition: all 300ms ease;
}

.product-card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.product-img {
  margin: 1rem 0;
}

.choice {
  color: darkslategray;
  font-weight: bold;
  font-style: italic;
}

.title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.price {
  font-weight: bold;
}
